.customer-search-container {
    input{
        padding: 5px;
        padding-left: 8px;
        margin: 5px 0;
        font: 20px sans-serif;
        border: none;
        border-bottom: 1px solid #ccc;
    }
}