@import './company-dropdown/index.scss';
@import './customer-table/index.scss';
@import './customer-search/index.scss';

* {
    margin: 0;
    padding: 0;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .content-container {
        width: 75%;
        height: 100%;
        padding: 20px;

    }
}