@import './company-dropdown/index.scss';
@import './customer-table/index.scss';

.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content-container {
        max-width: 50%
    }
}