<!DOCTYPE html>
<html>
  <head>
    <title>Challenge</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'challenge/index' %>
    <%= stylesheet_pack_tag 'challenge/assets/stylesheets/app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
